@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

*{padding:0; margin:0; }
img, fieldset { border:0 }
ul, ol { list-style:none }

em, address { font-style:normal }
a { text-decoration:none }
a:hover, a:active, a:focus {text-decoration:none }

*{
	font-family: 'Nanum Gothic';
}

a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: none;
}

.logo {
	 width:120px; 
	 height:auto;
}

#inchat {float:left;}

.navbar {
  position:fixed; 
  width:100%;
  padding:10px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.2);
  z-index:9999;
}

nav.nav-left {
 position:fixed;
 width:200px; 
 height:100%; 
 top:82px;
}

nav.nav-left a {

 color: rgba(255,255,255,.7);
 padding: 10px;
}

nav.nav-left>ul {height:100%; padding-top:20px;}

nav.nav-left>ul>li>a {background:url('../images/arrow_0.png') no-repeat right 10px;}

nav.nav-left>ul>li>a.active {background:url('../images/arrow_1.png') no-repeat right 10px;}

nav.nav-left a:hover {
 color: rgba(255,255,255,1);
 background-color: #3f6ea7;
}

nav.nav-left a.active {
 color: rgba(255,255,255,1);
  background-color: #3f6ea7;
}

nav.nav-left a {
	display:block;
}

nav.nav-left .depth2 li a {padding-left:30px;}

.contents {padding:120px 0 80px 220px;}

table {border: 1px solid #dddddd;}
table th {background-color:#eeeeee; text-align: center; font-size:13px;}
table td {text-align:center;}



.btn_group {margin:20px 0;}

.essential {color:red;}

h2 {margin-bottom:20px;}

.input-group {margin-bottom:10px;}

a.icon_email:hover {background-image: url('../../images/icon_email_1.png');}

a.icon_print:hover {background-image: url('../../images/icon_print_1.png');}